/* This file is for your main application css. */
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
 }

#app {
  display: flex
}

#sidebar {
  flex: 1
}

#main-details {
  flex: 4
}

#messages {
  min-height: 600px
}

#new-message textarea{
  width: 100%
}

